<div id="login-container">
    <div id="login-sec1">

        <div id="footer">
            <div>Contact Us</div>
            <div>Legal</div>
            <div>
                <img src="assets/images/aon-logo.png" />
            </div>
        </div>
    </div>
    <div id="login-sec2">
        <div>
            <div id="title">Aon</div>
            <div id="title">Commercial Risk</div>
            <div id="title">Pricing Tool</div>
            <br />
            <div id="sub-title">ready to empower results?</div>
            <br />
            <br />
            <br />
            <div class="field">
                <label class="label">User Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="e.g john_doe">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password">
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-medium">
                        LOG IN
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>