<div id="login-container">
    <div id="login-sec1">
        <div class="footer">
            <div class="title">Aon Commercial Risk</div>
            <div class="title">Pricing Tool</div>
        </div>
    </div>
    <div id="login-sec2">
        <div class="header">
            <div>
                <span>ACIA</span> 
                <span>Client Solutions</span> 
                <span>Legal</span> 
                <span>Contact us</span>
            </div>
            <div>
                Need help?
            </div>
        </div>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div>
                <img src="assets/images/aon-logo.png" />
            </div>
            <br />
            <div class="sub-title">ready to empower results?</div>
            <div class="sub-title">sign in</div>
            <br />
            <br />
            <div *ngIf="invalidLogin" class="error">Invalid username/password</div>
            <div class="field">
                <label class="label">User Name</label>
                <div class="control">
                    <input class="input is-medium" type="text" placeholder="e.g john_doe" formControlName="username">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input is-medium" type="password" formControlName="password">
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-medium" [disabled]="!loginForm.valid">
                        LOG IN
                    </button>
                </p>
            </div>
        </form>
        <div class="footer">
            Forgot your password? &nbsp; <span>Click Here</span>
        </div>
    </div>
</div>