@import "abacus-colors";

#login-container {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  & > div {
    height: 100%;
  }

  #login-sec1 {
    flex: 1.2;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 100%;
    background: linear-gradient(to bottom, rgba($abacus-color-secondary, 0.53), rgba($abacus-color-primary, 0.83)),
      url(/assets/images/login-bg.jpg) no-repeat center;
    background-size: cover;

    .footer {
      position: absolute;
      bottom: 10%;
      left: 40px;
      align-items: center;
      justify-content: center;
      font-weight: 400;

      .title {
        font-size: 50px;
        color: white;
        display: table;
        padding: 5px 10px;
        margin: 5px 0;
        font-family: "Bitter", serif;
      }
    }
  }

  #login-sec2 {
    flex: 0.8;
    position: relative;

    .header,
    .footer {
      position: absolute;
      width: 100%;
      display: inline-flex;
    }

    .header {
      top: 0;
      left: 0;
      padding: 20px;
      border-bottom: 1.5px solid $abacus-color-grey;
      align-items: center;
      justify-content: center;

      div {
        flex: 1;
      }

      div:first-child {
        span {
          margin-right: 20px;
          cursor: pointer;
        }
      }

      div:last-child {
        color: $abacus-color-primary;
        cursor: pointer;
        text-align: right;
      }
    }

    .footer {
      bottom: 0;
      left: 0;
      padding: 20px;
      border-top: 1.5px solid $abacus-color-grey;
      text-align: center;
      justify-content: center;

      span {
        color: $abacus-color-primary;
        cursor: pointer;
      }
    }

    form {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      margin: 0 auto;
      width: 70%;

      .error {
        color: red;
      }

      img {
        height: 100px;
      }

      .sub-title {
        font-size: 30px;
        color: #adb9c5;
      }

      #actions-container {
        display: inline-flex;

        button {
          margin-right: 10px;
        }
      }
    }
  }
}
