<div id="home-container">
    <div id="home-sec1">
        <div>
            <div id="title">mapper</div>
            <div id="sub-title">see the connections clearly</div>
            <br />
            <br />
            <br />
            <div id="actions-container">
                <button class="button is-medium">Get Started</button>
                <button class="button is-medium is-white">Import existing work</button>
            </div>
        </div>
    </div>
    <div id="home-sec2">

        <img src="assets/images/home-banner.svg" />

    </div>
</div>