<div id="home-container">
    <div id="dashboard-container">
        A
    </div>
    <div id="pricing-new-container">

        <div id="create-new">
            <div id="create-new-label">
                <div>Create New Pricing</div>
                <div>let's start</div>
            </div>
            <div id="create-new-arrow">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </div>
            <div id="create-new-image">
                <img src="assets/images/create-pricing.svg">
            </div>
        </div>
    </div>
</div>