@import "abacus-colors";

#pricing-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: inline-flex;

  #pricing-container-summary {
    height: 100%;
    width: 30%;
    position: relative;

    .workspace-title {
      position: absolute;
      top: 100px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      font-family: "Bitter";
      color: gray;
      padding: 0 50px;
      box-sizing: border-box;
      text-align: center;
      line-height: 1.5em;

      & > div:last-child {
        hr {
          display: none;
        }
      }
    }

    .workspace-image {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      margin: 0 auto;
      width: 70%;

      img {
        width: 100%;
      }
    }

    .workspace-action {
      position: absolute;
      bottom: 70px;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      & > div {
        display: inline-flex;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        align-items: center;

        div {
          text-align: center;
          font-size: 18px;
          font-family: "Bitter";
          margin: 0 10px;
          flex: 1;
          cursor: pointer;
          text-transform: uppercase;
          color: grey;
        }

        div.active {
          color: $abacus-color-primary;
        }
      }
    }
  }

  #pricing-container-details {
    height: 100%;
    width: 70%;
    background-color: white;
    border-radius: 30px 0 0 30px;

    #pricing-form {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;

      #pricing-form-1,
      #pricing-form-2,
      #pricing-form-3 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: all 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
      }

      #pricing-form-1.active,
      #pricing-form-2.active,
      #pricing-form-3.active {
        display: block;
      }
    }
  }
}
