<form [formGroup]="formGroup">
    <div class="field" *ngIf="field.dataType != 'options'">
        <label class="label">{{field.label}}</label>
        <div class="control">
            <input class="input is-medium" [type]="field.dataType" [formControlName]="field.name">
        </div>
    </div>
    <div class="field" *ngIf="field.dataType == 'options'">
        <label class="label">{{field.label}}</label>
        <div class="select">
            <select [formControlName]="field.name">
                <option value=""></option>
                <option [value]="option.value" *ngFor="let option of options">{{option.label}}</option>
            </select>
        </div>
    </div>
</form>