@import "abacus-colors";

$button-background-color: $abacus-color-primary;
$button-color: white;
$button-hover-color: white;
$button-focus-color: white;
$button-active-color: white;
$button-disabled-background-color:rgba($abacus-color-primary, 0.9);

$label-weight: 400;
$label-color: $abacus-color-primary;

$input-focus-border-color: $abacus-color-primary;

@import "bulma/sass/utilities/_all.sass";

@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/button.sass";

@import "abacus-elements";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: black;
  font-weight: 400;
  font-size: 1em;
}

*, ::after, ::before {
  box-sizing: inherit;
}